
#bloque1{
    height: 300px;
    width: 400px;
    background-color: rgb(0, 149, 255);
   
    margin-left: auto;
    margin-right: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 15px 13px rgb(0,0,0 );
}
.componente{
    
    font-size: 100%;
    font-family: Roboto,sans-serif;
    font-weight: bold;
   
}


